.card {
    border: 1px solid black;
    padding: 16px;
    border-radius: 16px;
    width: 300px;
    text-align: center;
    background: rgb(253, 255, 253)
}

.card:hover {
    box-shadow: 2px 2px black;
}

.card h2 {
    font-size: 33px;
    font-family: sans-serif;
}
.card img {
    border-radius: 16px;
    
}